env:
  global:
    - CC_TEST_REPORTER_ID=e0cc776bcbf45deca3b0e7fd128e0dcc687adbdd7e691dbeec4a1dabf83a9022


language: python
python: "3.5.5"
services:
  - postgresql
addons:
    postgresql: "9.6"

install:
  - export PROJECT_DIR=`pwd`
  - cd /tmp
  - git clone https://github.com/uclouvain/osis.git
  - cd osis
  - git checkout qa
  - git pull origin qa
  - git submodule init
  - git submodule update
  - pip install -r requirements.txt
  - rm -Rf internship
  - cp -avr $PROJECT_DIR internship

before_script:
  - cp .env.example .env
  - echo 'APPS_TO_TEST += ("internship",)' >> backoffice/settings/local.py
  - echo >> .env
  - echo "POSTGRES_USER = 'postgres'" >> .env
  - echo "POSTGRES_PASSWORD = ''" >> .env
  - psql -d template1 -c 'create extension unaccent;' -U postgres
  - psql -c 'create database osis_local;' -U postgres
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - python3 manage.py compilemessages && coverage run --source=internship manage.py test internship --exclude-tag=selenium --no-logs

after_script:
  - coverage xml
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT

