{% load i18n django_bootstrap5 %}

<div class="modal fade" id="create_account" tabindex="-1" role="dialog" aria-labelledby="create_account">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Create internship master account" %} ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{% trans "This action will create a user account and send an activation email to the following internship masters:" %}</p>
                <ul id="selected_masters">
                </ul>
                <p>{% trans "N.B. an activation email will be sent if the user account already exists" %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="create_account_btn" type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="createAccount()">
                    {% trans "Create" %}
                </button>
            </div>
        </div>
    </div>
</div>
