{% load i18n django_bootstrap5 %}

<div class="modal fade" id="delete_score" tabindex="-1" role="dialog" aria-labelledby="delete_score_label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Delete score ?" %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{% trans "This action will delete previously edited score that will be reset to the original computed value." %}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="delete_score_btn" type="button" class="btn btn-danger" data-bs-dismiss="modal" onclick="deleteScore(this)">
                    {% trans "Delete" %}
                </button>
            </div>
        </div>
    </div>
</div>
