{% load i18n django_bootstrap5 %}

<tr style="height: 50px;">
    <td colspan="25" style="text-decoration: underline;" class="text-right">
        {% trans 'Evolution Score:' %}
    </td>
    <td onmouseover="showEditButton('{{student.registration_id}}-evolution-score')"
        onmouseout="hideEditButton('{{student.registration_id}}-evolution-score')">
        {% if student.evolution_score|is_edited %}
        <div class="score-cell-value">
            <span id="evolution_score_{{ student.registration_id }}" data-edited="true" data-scores="{{ student.periods_scores }}">
                {{ student.evolution_score.edited.score }}
            </span>
            <i id="evolution_score_info_{{ student.registration_id }}" data-bs-html="true" data-bs-toggle="tooltip" data-bs-placement="left" title="
                {% trans "Score edited. Computed score: " %}
                <strong>{{ student.evolution_score.computed }}</strong>
                <br/>
                {% if student.evolution_score.edited.reason %}
                    <strong>{% trans 'Reason' %}</strong> : {{ student.evolution_score.edited.reason }}
                {% endif %}"
                style="font-size: 15px; top: 3px;" class="fas fa-info-circle text-info">
            </i>
        </div>
        {% else %}
        <span id="evolution_score_{{ student.registration_id }}" data-scores="{{ student.periods_scores }}">
            {{ student.evolution_score }}
        </span>
        {% endif %}
        <div style="display: none;" id="edit-{{ student.registration_id }}-evolution-score" class="float-end">
        <button onclick="editScore(this)"
                {% if student.evolution_score|is_edited %}
                    data-computed="{{ student.evolution_score.computed }}"
                {% else %}
                    data-computed="{{ student.evolution_score }}"
                {% endif %}
                data-student="{{ student.registration_id }}"
                class="btn btn-xs btn-warning btn-score">
            <i class="fas fa-pencil-alt text-white"></i>
        </button>
        {% if student.evolution_score|is_edited %}
            <button type="button" data-bs-toggle="modal"
                    data-bs-target="#delete_score"
                    data-student="{{ student.registration_id }}"
                    data-computed="{{ student.evolution_score.computed }}"
                    class="btn btn-xs btn-danger btn-score">
                <i class="fas fa-eraser"></i>
            </button>
        {% endif %}
    </td>
</tr>
