{% load i18n bootstrap3 %}

<tr style="height: 50px;">
    <td colspan="22" style="text-decoration: underline;" class="text-right">
        {% trans 'Evolution Score:' %}
    </td>
    <td onmouseover="showEditButton('{{student.registration_id}}-evolution-score')"
        onmouseout="hideEditButton('{{student.registration_id}}-evolution-score')">
        {% if student.evolution_score|is_edited %}
        <span id="evolution_score_{{ student.registration_id }}" data-edited="true" data-scores="{{ student.periods_scores }}">
            {{ student.evolution_score.edited|floatformat:2 }}
        </span>
        <i id="evolution_score_info_{{ student.registration_id }}" style="font-size: 15px; top: 3px;" class="fas fa-info-circle text-info"
           title="{% trans "Score edited. Computed score: " %}{{ student.evolution_score.computed|floatformat:2 }}">
        </i>
        {% else %}
        <span id="evolution_score_{{ student.registration_id }}" data-scores="{{ student.periods_scores }}">
            {{ student.evolution_score|floatformat:2 }}
        </span>
        {% endif %}
        <div style="display: none;" id="edit-{{ student.registration_id }}-evolution-score" class="pull-right">
        <button onclick="editScore(this)" style="padding-top:0; line-height: inherit;"
                {% if student.evolution_score|is_edited %}
                    data-computed="{{ student.evolution_score.computed|floatformat:2 }}"
                {% else %}
                    data-computed="{{ student.evolution_score }}"
                {% endif %}
                data-student="{{ student.registration_id }}"
                class="btn btn-xs btn-warning">
            <i class="fas fa-pencil-alt"></i>
        </button>
        {% if student.evolution_score|is_edited %}
            <button style="padding-top:0; line-height: inherit;"
                    data-toggle="modal"
                    data-target="#delete_evolution_score"
                    data-student="{{ student.registration_id }}"
                    data-computed="{{ student.evolution_score.computed|floatformat:2 }}"
                    class="btn btn-xs btn-danger">
                <i class="fas fa-eraser"></i>
            </button>
        {% endif %}
    </td>
</tr>