{% load i18n django_bootstrap5 %}

<div class="modal fade" id="fillPersonDataModal" tabindex="-1" role="dialog" aria-labelledby="fillPersonDataModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fillPersonDataModal">{% trans 'Person already exists' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% trans 'A person with this email address has been previously recorded. Form inputs will be filled based on the existing data. Fields with existing information will be overwritten.' %}
      </div>
      <div class="modal-footer">
        <button id="cancel-fill-button" type="button" class="btn btn-default" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
        <a id="fill-data-button" type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans 'Proceed' %}</a>
      </div>
    </div>
  </div>
</div>
