{% load i18n django_bootstrap5 %}

<div class="modal fade" id="postponeAllocationsModal" tabindex="-1" role="dialog" aria-labelledby="postponeAllocationsModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="postponeAllocationsModalTitle">{% trans 'Postpone allocations ?' %}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% trans 'The current allocations may exist in the following cohorts:' %}
          <ul>
              {% for cohort in postponable_cohorts %}
                  <li>{{ cohort.name }}</li>
              {% endfor %}
          </ul>
        {% trans 'Do you want to postpone allocations modifications on these cohorts ?' %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
        <div class="btn-group" role="group">
            <button id="not-postpone-allocations" type="button" class="btn btn-default" data-bs-dismiss="modal">{% trans 'Do not postpone' %}</button>
            <button id="postpone-allocations" type="button" class="btn btn-primary" data-bs-dismiss="modal">{% trans 'Postpone' %}</button>
        </div>
      </div>
    </div>
  </div>
</div>
