    {{ period_score.edited|floatformat:2 }}
        <i style="font-size: 15px; top: 3px;" title="Score edited. Computed score: {{ period_score.computed|floatformat:2 }}"
       class="glyphicon glyphicon-info-sign text-info"></i>
    <button onclick="editScore(this)" style="display:none; padding-top:0; line-height: inherit;" data-computed="{{ period_score.computed|floatformat:2 }}"
            data-student="{{ student.registration_id }}" data-period="{{ period.name }}"
            id="edit-{{ student.registration_id }}{{ period.name }}" class="pull-right btn btn-xs btn-warning">
        <i class="glyphicon glyphicon-pencil"></i>
    </button>
