{% load i18n django_bootstrap5 %}

<div class="modal fade" id="send_summary" tabindex="-1" role="dialog" aria-labelledby="send_summary">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{% trans "Send summary" %} ?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>{% trans "This action will send a summary by email to the following students:" %}</p>
                <ul id="selected_students">
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-bs-dismiss="modal">{% trans "Cancel" %}</button>
                <button id="send_summary_btn" type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="sendSummary()">
                    {% trans "Send" %}
                </button>
            </div>
        </div>
    </div>
</div>
