{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumb %}
    <li><a href="{% url 'studies' %}">{% trans 'studies' %}</a></li>
    <li class="active">{% trans 'internships_managment' %}</li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{% trans 'select_cohort' %}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-body">
            <div class="row">
                {% for cohort in cohorts %}
                    <p>
                        <a href="{% url 'internships_home' cohort_id=cohort.id %}">{{ cohort }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
