{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}

{% block breadcrumb %}
    <li class="active">{% trans 'internships' %}</li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{% trans 'internships' %}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-body">
            <div class="row">
                {% for cohort in cohorts %}
                    <p>
                        <a href="{% url 'internships_home' cohort_id=cohort.id %}">{{ cohort }}</a>
                    </p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}