{% extends "bootstrap5/layout.html" %}
{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'studies' %}">{% trans 'Student path' %}</a></li>
    <li class="breadcrumb-item" id="lnk_cohorts_management"><a href="{% url 'cohorts_management' %}">{% trans "Cohorts management" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'internship' %}">{% trans 'Internships management' %}</a></li>
    <li class="breadcrumb-item active">{% trans 'Cohort' %}</li>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h2>{% trans 'Cohort' %}</h2>
    </div>

    <div class="card card-default">
        <div class="card-body">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {% bootstrap_field form.name %}
                {% bootstrap_field form.description %}
                <div class="row">
                    {% bootstrap_field form.subscription_start_date wrapper_class="form-group col-md-4" %}
                    {% bootstrap_field form.subscription_end_date wrapper_class="form-group col-md-4" %}
                    {% bootstrap_field form.publication_start_date wrapper_class="form-group col-md-4" %}
                </div>
                {% if form_new %}
                    {% bootstrap_field form.originated_from  %}
                {% endif %}

                {% bootstrap_field form.is_parent  %}
                {% bootstrap_field form.parent_cohort  wrapper_class="form-group select-parent" %}

                <button type="submit" class="btn btn-primary" title="{%trans 'Save' %}" id="bt_cohort_save">
                    <span class="fa fa-save" aria-hidden="true"></span> {% trans 'Save' %}
                </button>
                <a class="btn btn-default" id="" href="{% url 'internship' %}">
                    <span class="fa fa-remove" aria-hidden="true"></span> {% trans 'Return' %}
                </a>
            </form>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        document.querySelector('#id_is_parent').addEventListener('change', (e) => {
            document.querySelector('#id_parent_cohort').disabled = e.target.checked;
        });
    </script>
{% endblock %}
