{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block breadcrumb %}
    <li><a href="{% url 'studies' %}">{% trans 'Studies' %}</a></li>
    <li><a href="{% url 'internship' %}">{% trans 'Internships management' %}</a></li>
    <li class="active">{% trans 'Cohort' %}</li>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h2>{% trans 'Cohort' %}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-body">
            <form method="POST" class="post-form">
                {% csrf_token %}
                {% bootstrap_field form.name label=_("Name") %}
                {% bootstrap_field form.description label=_("Description") %}
                <div class="row">
                    {% bootstrap_field form.subscription_start_date form_group_class="form-group col-md-4" label=_("Enrolment start") %}
                    {% bootstrap_field form.subscription_end_date form_group_class="form-group col-md-4" label=_("Enrolment end") %}
                    {% bootstrap_field form.publication_start_date form_group_class="form-group col-md-4" label=_("Publication date") %}
                </div>
                {% if form_new %}
                    {% bootstrap_field form.originated_from label=_("Copy from cohort") %}
                {% endif %}

                <button type="submit" class="btn btn-primary" title="{%trans 'Save' %}" id="bt_cohort_save">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span> {% trans 'Save' %}
                </button>
                <a class="btn btn-default" id="" href="{% url 'internship' %}">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> {% trans 'Return' %}
                </a>
            </form>
        </div>
    </div>
{% endblock %}
