{% extends "layout.html" %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
    <li><a href="{% url 'studies' %}">{% trans 'Student path' %}</a></li>
    <li id="lnk_cohorts_management"><a href="{% url 'cohorts_management' %}">{% trans "Cohorts management" %}</a></li>
    <li class="active">{% trans 'Internships management' %}</li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{% trans 'Cohorts' %}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-body">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'cohort_new' %}" id="lnk_cohort_create" class="btn btn-default pull-right" title="Create a cohort">
                        <span class="glyphicon glyphicon-plus"></span> {% trans 'Add' %}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Description' %}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cohort in cohorts|dictsortreversed:"subscription_start_date" %}
                            <tr>
                                <td><a href="{% url 'internships_home' cohort_id=cohort.id %}">{{ cohort.name }}</a></td>
                                <td>{{ cohort.description|truncatechars:32 }}</td>
                                <td align="right"><a class="btn btn-warning" id="lnk_cohort_edit"
                                       href="{% url 'cohort_edit' cohort_id=cohort.id %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true" />
                                  </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
