#mapping span.label {
    display: block;
}

#mapping .btn-period-mapping {
    display: block;
    margin-top: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#loader {
    display:inline-block;
    border: 1px solid #f3f3f3;
    border-top: 1px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

