#mapping span.label {
    display: block;
}

#mapping .btn-period-mapping {
    display: block;
    margin-top: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.button-loader {
    display:inline-block;
    border: 1px solid #f3f3f3;
    border-top: 1px solid #3498db;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.has-error + .tooltip.top > .tooltip-inner{
    background-color: #a94442;
}

.has-error + .tooltip.top > .tooltip-arrow {
    border-top-color: #a94442;
}

.overflow-cell{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-bold{
    font-weight: bold;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 21px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 4px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
  background-color: #337ab7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #337ab7;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

#students_filter{
    float: left;
}

.last-completed-period + tr > td{
    border-top: none !important;
}

.last-completed-period {
    border-bottom: 2px dashed #dedede !important;
}

.zero > a, .zero .cell-actions {
    display: none;
}

.zero:hover > a, .zero:hover .cell-actions {
    display: block;
}

.score-cell-value{
    display: inline-block;
    width: 40px;
}

.score-cell-value i {
    float: right;
    line-height: 1.4;
}