{% extends "bootstrap5/layout.html" %}
{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'studies' %}">{% trans 'Student path' %}</a></li>
    <li class="breadcrumb-item" id="lnk_cohorts_management"><a href="{% url 'cohorts_management' %}">{% trans "Cohorts management" %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'internship' %}">{% trans 'Internships management' %}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'internships_home' cohort_id=cohort.id %}">{{ cohort.name }}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'internship-list' cohort_id=cohort.id %}">{% trans 'Internships modalities' %}</a></li>

    <li class="breadcrumb-item active">{% trans 'Add internship modality' %}</li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{% trans 'Internship modality' %}</h2>
    </div>

    <div class="card card-default">
        <div class="card-body">
            <form method="POST" class="post-form">
                {%  csrf_token %}
                <div class="row">
                    {% bootstrap_field form.name wrapper_class="form-group col-md-6"  %}
                    {% bootstrap_field form.speciality wrapper_class="form-group col-md-6"  %}
                </div>

                <div class="row">
                    {% bootstrap_field form.length_in_periods wrapper_class="form-group col-md-6"  %}
                    {% bootstrap_field form.position wrapper_class="form-group col-md-6"  %}
                </div>

                <div class="row">
                    <div class="col-md-6">
                        {% bootstrap_field form.periods wrapper_class="form-group col-md-12"  %}
                    </div>
                    <div class="col-md-6">
                        {% bootstrap_field form.apds wrapper_class="form-group col-md-12"  %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" title="{%trans 'Save' %}" id="bt_internship_save">
                    <span class="fa fa-save" aria-hidden="true"></span>
                    {% trans 'Save' %}
                </button>
                <a class="btn btn-default" id="bt_internship_delete" href="{% url 'internship-list' cohort_id=cohort.id %}">
                    <span class="fa fa-chevron-left" aria-hidden="true"></span>
                    {% trans 'Return' %}
                </a>
            </form>
        </div>
    </div>
{% endblock %}
