{% extends "layout.html" %}
{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}

{% block breadcrumb %}
    <li><a href="{% url 'studies' %}">{% trans 'studies' %}</a></li>
    <li><a href="{% url 'internship' %}">{% trans 'internships_managment' %}</a></li>
    <li><a href="{% url 'internships_home' cohort_id=cohort.id %}">{{ cohort.name }}</a></li>
    <li><a href="{% url 'internship-list' cohort_id=cohort.id %}">{% trans 'internships_modalities' %}</a></li>

    <li class="active">{% trans 'add_internship_modality' %}</li>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h2>{% trans 'internship_modality' %}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-body">
            <form method="POST" class="post-form">
                {%  csrf_token %}
                <div class="row">
                    {% bootstrap_field form.name form_group_class="form-group col-md-6" label=_("name") %}
                    {% bootstrap_field form.speciality form_group_class="form-group col-md-6" label=_("specialty") %}
                </div>

                <div class="row">
                    {% bootstrap_field form.length_in_periods form_group_class="form-group col-md-6" label=_("number_of_periods") %}
                    {% bootstrap_field form.position form_group_class="form-group col-md-6" label=_("order_postion") %}
                </div>

                <button type="submit" class="btn btn-primary" title="{%trans 'save' %}" id="bt_internship_save">
                    <span class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    {% trans 'save' %}
                </button>
                <a class="btn btn-default" id="bt_internship_delete" href="{% url 'internship-list' cohort_id=cohort.id %}">
                    <span class="glyphicon glyphicon-cancel" aria-hidden="true"></span>
                    {% trans 'return' %}
                </a>
            </form>
        </div>
    </div>
{% endblock %}
