{% extends "layout.html" %}
{% load static %}
{% load i18n %}

{% block breadcrumb %}
    <li><a href="{% url 'studies' %}">{% trans 'Studies' %}</a></li>
    <li><a href="{% url 'internship' %}">{% trans 'Internships management' %}</a></li>
    <li><a href="{% url 'internships_home' cohort_id=cohort.id %}">{{ cohort.name }}</a></li>

    <li class="active">{% trans 'Internships modalities' %}</li>
{% endblock %}

{% block content %}

    <div class="page-header">
        <h2>{% trans 'Internships modalities' %}</h2>
    </div>

    <div class="panel panel-default">
        <div class="panel panel-body">
            <div class="row">
                <div class="col-md-12">
                    <a href="{% url 'internship-new' cohort_id=cohort.id %}" id="lnk_internship_create"
                       class="btn btn-default" role="button" title="Create an internship">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        {% trans 'Add internship modality' %}
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">

                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>{% trans 'Name' %}</th>
                            <th>{% trans 'Specialty' %}</th>
                            <th>{% trans 'Number of periods' %}</th>
                            <th>{% trans 'Position' %}</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for internship in internships %}
                            <tr>
                                <td>{{ internship.name }}</td>
                                <td>{{ internship.speciality | default_if_none:'' }}</td>
                                <td>{{ internship.length_in_periods }}</td>
                                <td>{{ internship.position }}</td>
                                <td align="right">
                                    <a class="btn btn-warning" id="lnk_internship_edit"
                                       href="{% url 'internship-edit' cohort_id=internship.cohort.id internship_id=internship.id %}">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true" />
                                    </a>
                                    <a class="btn btn-danger" id="lnk_internship_delete"
                                       data-href="{% url 'internship-delete' cohort_id=internship.cohort.id internship_id=internship.id %}"
                                       data-toggle="modal" data-target="#delete_modal"
                                       data-value="{{internship.name}}">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true" />
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% include "fragment/delete_confirmation_modal.html" %}
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static "js/internship.js" %}?version={{ js }}"></script>
{% endblock %}
