body {
  padding-top: 70px;
}

.info {
  color:blue;
}

.success {
  color:green;
}

.warning {
  color:orange;
}

.error {
  color:red;
}

.btn.btn-as-block {
  display: block;
}

.invisible{
  visibility: hidden;
}

/* Hides the spinner of number fields. */
input[type=number] {
    -moz-appearance:textfield;
    -webkit-appearance: none;
}

/**
 * Progress bars with centered text
 */

.progress {
    position: relative;
}

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }