body {
  padding-top: 70px;
}

.info {
  color:blue;
}

.success {
  color:green;
}

.warning {
  color:orange;
}

.error {
  color:red;
}

.btn.btn-as-block {
  display: block;
}

.invisible{
  visibility: hidden;
}
