
{% load staticfiles %}
{% load i18n %}
<div class="modal fade" id="pnl_remove_manager_modal" tabindex="-1" role="dialog" >
    <div class="modal-dialog" >
        <div class="modal-content">
            <form method="post" id="form_remove_manager">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="bt_close_remove_manager_modal"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">{% trans 'confirm' %}</h4>
                </div>
                <div class="modal-body">
                    <input type="hidden"  id="hdn_to_be_removed_person" name="person_to_be_removed">
                    <input type="hidden" id="hdn_to_be_removed_pgms" name="pgms_to_be_removed">
                    <input type="hidden" id="hdn_entity" name="entity">
                    <input type="hidden" id="hdn_pgm_type" name="pgm_type">
                    <input type="text" id="hdn_offers_checked" name="offers_checked">
                    <input type="text" id="hdn_manager" name="person">

                    <div id="pnl_pgm_off">
                        {% trans 'remove_manager_label' %}<br>
                    </div>
                    <br>
                    <div id="pnl_pgm_on">
                        {% trans 'stay_manager_label' %}<br>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="bt_cancel_remove_manager_modal">{% trans 'cancel' %}</button>
                    <input type="button" class="btn btn-primary" value="{% trans 'remove'%}"
                           id="bt_submit_remove_manager_modal" onclick="removal_submission();"/>
                </div>
            </form>
        </div>
    </div>
</div>