{% extends "layout.html" %}
{% load percentage %}
{% block breadcrumb %}
  <li><a href="{% url 'studies' %}">Les études</a></li>
  <li><a href="{% url 'assessements' %}">Évaluations</a></li>
  <li><a href="{% url 'scores_encoding' %}">Encodage des notes</a></li>
  <li class="active">Encodage en ligne</li>
{% endblock %}
{% block content %}
  <div class="page-header">
    <h2>Encodage en ligne</h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title" style="font-size: 150%; color: #3399CC;">{{ session.learning_unit_year }}</h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Responsable</label><br>
            {{ tutor }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Année académique</label><br>
            {{ academic_year }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Session</label><br>
            {{ session.number_session }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Nombre d'inscrits</label><br>
            {{ enrollments|length }}
          </div>
        </div>
        <div class="col-md-2">
          <div class="form-group">
            <label>Progrès</label><br>
            {{ progress | percentage }}
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Programme</label><br>
            <select class="form-control">
              <option value="volvo">Tous</option>
            </select>
          </div>
        </div>
        <div class="col-md-6"></div>
      </div>

      <br><p><b>L'étudiants inscrits</b></p>

      <table class="table table-striped table-hover">
          <thead>
            <th>Programme</th>
            <th>Noma</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Note</th>
            <th>Justification</th>
            <th>Date de remise</th>
          </thead>
          <tbody>
          {% for enrollment in enrollments %}
            <tr>
              <td>{{ enrollment.learning_unit_enrollment.offer_enrollment.offer_year.acronym }}</td>
              <td>{{ enrollment.learning_unit_enrollment.offer_enrollment.student.registration_id }}</td>
              <td>{{ enrollment.learning_unit_enrollment.offer_enrollment.student.person.last_name }}</td>
              <td>{{ enrollment.learning_unit_enrollment.offer_enrollment.student.person.first_name }}</td>
              <td>{{ enrollment.score | default_if_none:"-" }}</td>
              <td>{{ enrollment.justification | default_if_none:"-" }}</td>
              <td>{{ enrollment.session_exam.offer_year_calendar.end_date }}</td>
            </tr>
          {% endfor %}
          </tbody>
      </table>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}


      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#uploadScoreModal" title="Permet de sélectionner le fichier excel contenant les notes à téléverser">Téléverser</button>
      <br/>



    </div>
  </div>
  <!-- UploadFile modal -->
    <div class="modal fade" id="uploadScoreModal" tabindex="-1" role="dialog" aria-labelledby="uploadScroresLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" enctype="multipart/form-data" action="{% url 'upload_encoding' session.id session.learning_unit_year.id academic_year.id%}">
                    {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="uploadScroresLabel">Téléchargement des notes</h4>
                </div>
                <div class="modal-body">
                    <input type="file" id="scoresInputFile" id="file" name="file"/>
                    <p class="help-block">Veuillez sélectionner le fichier excel à télécharger</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                    <input type="submit" class="btn btn-primary" value="Charger"/>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
