{% extends "layout.html" %}
{% block breadcrumb %}
  <li><a href="{% url 'studies' %}">Les études</a></li>
  <li><a href="{% url 'assessements' %}">Évaluations</a></li>
  <li class="active">Encodage des notes</li>
{% endblock %}
{% block content %}
  <div class="page-header">
    <h2>Encodage des notes</h2>
  </div>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label>Enseignant</label><br>
            {{ tutor }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Année académique</label><br>
            {{ academic_year }}
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label>Session</label><br>
            {{ session }}
          </div>
        </div>
      </div>
    </div>

    <table class="table table-striped table-hover">
      <thead>
        <th>Statut</th>
        <th>Sigle</th>
        <th>Cours</th>
      </thead>
      <tbody>
        {% for session in sessions %}
          <tr>
            <td>{% if session.status == 'IDLE' %}
                  <span style="color: orange" class="glyphicon glyphicon-time" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Idle"></span>
                {% elif session.status == 'OPEN' %}
                  <span style="color: blue" class="glyphicon glyphicon-flag" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Open"></span>
                {% else %}
                  <span style="color: green" class="glyphicon glyphicon-ok" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Closed"></span> {{ session.status|title }}</td>
                {% endif %}
            <td>{{ session.learning_unit_year.acronym }}</td>
            <td><a href="/studies/assessements/sessions/{{ session.id }}">{{ session.learning_unit_year.title }}</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
