body {
  padding-top: 70px;
}
/*todo peut-être moyen de changer ceci avec message_tags*/
.info {
  color:blue;
}
.success {
  color:green;
}
.warning {
  color:orange;
}
.error {
  color:red;
}

.color1{
  background-color: #F0F0F0;
}
.color2{
  background-color: #E0E0E0;
}
.color3{
  background-color: #D0D0D0;
}
.color4{
  background-color: #C0C0C0;
}
.color5{
  background-color: #e6e6e6;
}
.color6{
  background-color: #d9d9d9;
}
.color7{
  background-color: #cccccc;
}
.color8{
  background-color: #bfbfbf;
}
.color9{
  background-color: #b3b3b3;
}
.color10{
  background-color: #a6a6a6;
}
